html{
    height:100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}
body{
    height:100%;
    overflow: hidden;
}

html,body,main,section{
    margin:0;
    padding:0;
}

#container {
    &[data-orientation="vertical"] {
        overflow-y: visible;
        height: 100%;
        .page {
            height: 100%;
        }
    }
    &[data-orientation="horizontal"] {
        overflow-x: visible;
        width: 100%;
        .page {
            width: 100%;
        }
    }

    .page {
        box-sizing: border-box;
    }

    //写一些测试样式
    .page {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #363636;
        border: 3px solid brown;
        padding-top: 200px;
        color: #666;
    }
}
