html{
    height:100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}
body,#container,section.page{
    height:100%;
    overflow: hidden;
}

html,body,main,section{
    margin:0;
    padding:0;
}

#container{
    overflow: visible;

    //写一些测试样式
    .page {
        box-sizing: border-box;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #363636;
        border: 5px solid green;
        border-bottom-color: red;
        padding-top: 200px;
        color: #666;
    }
}
